<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.gurkenlabs.litiengine.newproject"
            name="LITIengine">
      </category>
      <wizard
            category="de.gurkenlabs.litiengine.newproject"
            class="de.gurkenlabs.litiengine.newproject.wizards.LITIengineNewGameWizard"
            icon="icons/icon.png"
            id="de.gurkenlabs.litiengine.newproject.wizards.LITIengineNewGameWizard"
            name="LITIengine New Game"
            project="true">
      </wizard>
   </extension>

</plugin>
